@import "src/scss/config/variables";
@import "src/scss/config/mixins";

.aboutus-header-image {
  @include header;
  background: url("../../images/marketing-strategy.jpg") no-repeat 50% 80% /
    cover;
}

.aboutus-header-title {
  @include header-title;
}

.aboutus-container {
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    color: $color-main;
    text-shadow: $shadow-icons;
  }
}
.aboutus-card {
  max-width: 95%;
  text-align: center;
  margin: 20px auto;

  i {
    font-size: 6rem;
  }

  .aboutus-card-title {
    margin: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2;
  }

  .aboutus-card-content {
    font-size: 1.2rem;
  }

  .icon-recycle {
    color: $color-recycle;
  }

  .icon-truck {
    color: $color-contrast;
  }

  .icon-map-o {
    color: $color-second;
  }
}

.aboutus-card:first-child {
  margin-top: 50px;
}

@media screen and (min-width: 800px) {
  .aboutus-container {
    .aboutus-card {
      max-width: 250px;
    }

    .row {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
    }

    i {
      grid-column: span 4;
    }

    p {
      grid-column: 5 / span 13;
      display: flex;
      align-items: center;
    }
  }
  .aboutus-card:first-child {
    margin-top: 20px;
  }
}
