@import "src/scss/config/variables";


.pageNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 100%;

  .triangle-icon {
    height: 20vh;
  }
  h2 {
    margin: 20px 0;
  }
  p {
    margin: 50px 0;
  }
  i {
    color: $color-contrast;
    text-shadow: $shadow-icons;
  }
}

