@import "src/scss/main";

.cards-container {
  margin-top: $navigation-height + 20px;
}

.card {
  width: 95%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  margin: 10px auto;
  font-family: Roboto, sans-serif;


  .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    font-size: 24px;
    font-weight: 300;
    padding: 0 20px;
    text-align: center;
  }
  .card-img {
    background: #6F6D78;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img {
      height: 300px;
    }
  }
  .card-content {
    height: 150px;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
  }
}

@media screen and (min-width: 800px) {
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: -230px;
    margin-top: 0;
    margin-bottom: -200px;
    z-index: 30;
    .card {
      max-width: 350px;
    }
  }
}